# Database Settings (optional, normally in database.ini)
# DB_HOST=localhost
# DB_NAME=attendify
# DB_USER=postgres
# DB_PASSWORD=admin
# DB_PORT=5432

# Firebase Settings
FIREBASE_CREDENTIALS_PATH=config/firebase/serviceAccountKey.json
