--
-- PostgreSQL database dump
--

\restrict 4KbzYQSMsnvbuJ221Ds8B6lUp85QF2pgmfUo6Vlz5G5LgfvhscSfIsgDUL2iE65

-- Dumped from database version 18.2
-- Dumped by pg_dump version 18.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: calculate_attendance_percentage(integer, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.calculate_attendance_percentage(p_student_id integer, p_section_id integer) RETURNS double precision
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_total_sessions INT;
    v_attended INT;
    v_percentage FLOAT;
BEGIN
    SELECT COUNT(sa.attendance_id) INTO v_total_sessions
    FROM AttendanceSessions s
    JOIN StudentAttendance sa ON s.session_id = sa.session_id
    WHERE sa.student_id = p_student_id AND s.section_id = p_section_id;

    IF v_total_sessions = 0 THEN
        RETURN 0.0;
    END IF;

    SELECT COUNT(sa.attendance_id) INTO v_attended
    FROM AttendanceSessions s
    JOIN StudentAttendance sa ON s.session_id = sa.session_id
    JOIN AttendanceStatus st ON sa.status_id = st.status_id
    WHERE sa.student_id = p_student_id AND s.section_id = p_section_id
    AND st.status_name IN ('Present', 'Late');

    v_percentage := (v_attended::FLOAT / v_total_sessions) * 100.0;
    RETURN v_percentage;
END;
$$;


ALTER FUNCTION public.calculate_attendance_percentage(p_student_id integer, p_section_id integer) OWNER TO postgres;

--
-- Name: check_timetable_clash(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.check_timetable_clash() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_clash_exists BOOLEAN;
    v_semester VARCHAR;
    v_academic_year VARCHAR;
    v_faculty_id INT;
BEGIN
    SELECT semester, academic_year, faculty_id INTO v_semester, v_academic_year, v_faculty_id 
    FROM Sections WHERE section_id = NEW.section_id;

    -- Check Room Clash
    SELECT EXISTS (
        SELECT 1 FROM Timetable t
        JOIN Sections s ON t.section_id = s.section_id
        WHERE t.room_id = NEW.room_id AND t.day_of_week = NEW.day_of_week 
          AND s.semester = v_semester AND s.academic_year = v_academic_year
          AND (t.start_time < NEW.end_time AND t.end_time > NEW.start_time)
          AND t.timetable_id IS DISTINCT FROM NEW.timetable_id
    ) INTO v_clash_exists;

    IF v_clash_exists THEN
        RAISE EXCEPTION 'Room Clash Detected: Room is already booked for this time slot.';
    END IF;

    -- Check Faculty Clash
    SELECT EXISTS (
        SELECT 1 FROM Timetable t
        JOIN Sections s ON t.section_id = s.section_id
        WHERE s.faculty_id = v_faculty_id AND t.day_of_week = NEW.day_of_week 
          AND s.semester = v_semester AND s.academic_year = v_academic_year
          AND (t.start_time < NEW.end_time AND t.end_time > NEW.start_time)
          AND t.timetable_id IS DISTINCT FROM NEW.timetable_id
    ) INTO v_clash_exists;

    IF v_clash_exists THEN
        RAISE EXCEPTION 'Faculty Clash Detected: Faculty is already teaching another section at this time.';
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.check_timetable_clash() OWNER TO postgres;

--
-- Name: enroll_student_in_section(integer, integer); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.enroll_student_in_section(IN p_student_id integer, IN p_section_id integer)
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Insert is guarded by trg_validate_prereq_enrollment (and unique constraint uq_enrollment)
    INSERT INTO Enrollments (student_id, section_id)
    VALUES (p_student_id, p_section_id);
END;
$$;


ALTER PROCEDURE public.enroll_student_in_section(IN p_student_id integer, IN p_section_id integer) OWNER TO postgres;

--
-- Name: log_universal_changes(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.log_universal_changes() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF (TG_OP = 'DELETE') THEN
        INSERT INTO AuditLogs (action, table_name, old_data)
        VALUES ('DELETE', TG_TABLE_NAME, row_to_json(OLD)::jsonb);
        RETURN OLD;
    ELSIF (TG_OP = 'UPDATE') THEN
        INSERT INTO AuditLogs (action, table_name, old_data, new_data)
        VALUES ('UPDATE', TG_TABLE_NAME, row_to_json(OLD)::jsonb, row_to_json(NEW)::jsonb);
        RETURN NEW;
    ELSIF (TG_OP = 'INSERT') THEN
        INSERT INTO AuditLogs (action, table_name, new_data)
        VALUES ('INSERT', TG_TABLE_NAME, row_to_json(NEW)::jsonb);
        RETURN NEW;
    END IF;
    RETURN NULL;
END;
$$;


ALTER FUNCTION public.log_universal_changes() OWNER TO postgres;

--
-- Name: log_user_changes(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.log_user_changes() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF (TG_OP = 'DELETE') THEN
        INSERT INTO AuditLogs (action, table_name, record_id, old_data)
        VALUES ('DELETE', TG_TABLE_NAME, OLD.user_id, row_to_json(OLD)::jsonb);
        RETURN OLD;
    ELSIF (TG_OP = 'UPDATE') THEN
        INSERT INTO AuditLogs (action, table_name, record_id, old_data, new_data)
        VALUES ('UPDATE', TG_TABLE_NAME, NEW.user_id, row_to_json(OLD)::jsonb, row_to_json(NEW)::jsonb);
        RETURN NEW;
    ELSIF (TG_OP = 'INSERT') THEN
        INSERT INTO AuditLogs (action, table_name, record_id, new_data)
        VALUES ('INSERT', TG_TABLE_NAME, NEW.user_id, row_to_json(NEW)::jsonb);
        RETURN NEW;
    END IF;
    RETURN NULL;
END;
$$;


ALTER FUNCTION public.log_user_changes() OWNER TO postgres;

--
-- Name: mark_attendance(integer, integer, character varying, character varying); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.mark_attendance(IN p_session_id integer, IN p_student_id integer, IN p_status_name character varying, IN p_remarks character varying DEFAULT ''::character varying)
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_status_id INT;
    v_exists BOOLEAN;
BEGIN
    SELECT status_id INTO v_status_id FROM AttendanceStatus WHERE status_name = p_status_name;
    IF NOT FOUND THEN
        RAISE EXCEPTION 'Status % not found', p_status_name;
    END IF;

    -- Concurrency Control: Lock the row explicitly to prevent race conditions
    SELECT EXISTS(SELECT 1 FROM StudentAttendance WHERE session_id = p_session_id AND student_id = p_student_id FOR UPDATE) INTO v_exists;

    IF v_exists THEN
        UPDATE StudentAttendance 
        SET status_id = v_status_id, remarks = p_remarks 
        WHERE session_id = p_session_id AND student_id = p_student_id;
    ELSE
        INSERT INTO StudentAttendance (session_id, student_id, status_id, remarks)
        VALUES (p_session_id, p_student_id, v_status_id, p_remarks);
    END IF;
END;
$$;


ALTER PROCEDURE public.mark_attendance(IN p_session_id integer, IN p_student_id integer, IN p_status_name character varying, IN p_remarks character varying) OWNER TO postgres;

--
-- Name: notify_low_attendance_students(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.notify_low_attendance_students() RETURNS void
    LANGUAGE plpgsql
    AS $$
DECLARE
    student_cursor CURSOR FOR SELECT student_id FROM low_attendance_students;
    curr_student_id INT;
BEGIN
    OPEN student_cursor;
    LOOP
        FETCH student_cursor INTO curr_student_id;
        EXIT WHEN NOT FOUND;

        INSERT INTO Notifications (user_id, message)
        VALUES (curr_student_id, 'Warning: Your attendance has dropped below 75%. Please contact your faculty.');
    END LOOP;
    CLOSE student_cursor;
END;
$$;


ALTER FUNCTION public.notify_low_attendance_students() OWNER TO postgres;

--
-- Name: upsert_student_profile_image(integer, character varying, text); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.upsert_student_profile_image(IN p_student_id integer, IN p_image_name character varying, IN p_image_path text)
    LANGUAGE plpgsql
    AS $$
BEGIN
    INSERT INTO StudentProfileImages (student_id, image_name, image_path, upload_timestamp)
    VALUES (p_student_id, p_image_name, p_image_path, CURRENT_TIMESTAMP)
    ON CONFLICT (student_id)
    DO UPDATE SET
        image_name = EXCLUDED.image_name,
        image_path = EXCLUDED.image_path,
        upload_timestamp = CURRENT_TIMESTAMP;
END;
$$;


ALTER PROCEDURE public.upsert_student_profile_image(IN p_student_id integer, IN p_image_name character varying, IN p_image_path text) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attendancesessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendancesessions (
    session_id integer NOT NULL,
    section_id integer,
    session_date date NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    created_by integer,
    CONSTRAINT chk_sess_time CHECK ((end_time > start_time))
);


ALTER TABLE public.attendancesessions OWNER TO postgres;

--
-- Name: attendancesessions_session_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.attendancesessions_session_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.attendancesessions_session_id_seq OWNER TO postgres;

--
-- Name: attendancesessions_session_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.attendancesessions_session_id_seq OWNED BY public.attendancesessions.session_id;


--
-- Name: attendancestatus; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendancestatus (
    status_id integer NOT NULL,
    status_name character varying(20) NOT NULL
);


ALTER TABLE public.attendancestatus OWNER TO postgres;

--
-- Name: attendancestatus_status_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.attendancestatus_status_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.attendancestatus_status_id_seq OWNER TO postgres;

--
-- Name: attendancestatus_status_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.attendancestatus_status_id_seq OWNED BY public.attendancestatus.status_id;


--
-- Name: auditlogs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auditlogs (
    log_id integer NOT NULL,
    user_id integer,
    action character varying(50) NOT NULL,
    table_name character varying(50) NOT NULL,
    record_id integer,
    old_data jsonb,
    new_data jsonb,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.auditlogs OWNER TO postgres;

--
-- Name: auditlogs_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.auditlogs_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.auditlogs_log_id_seq OWNER TO postgres;

--
-- Name: auditlogs_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.auditlogs_log_id_seq OWNED BY public.auditlogs.log_id;


--
-- Name: courseprerequisites; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courseprerequisites (
    course_id integer NOT NULL,
    prereq_course_id integer NOT NULL,
    CONSTRAINT chk_prereq_not_self CHECK ((course_id <> prereq_course_id))
);


ALTER TABLE public.courseprerequisites OWNER TO postgres;

--
-- Name: courses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses (
    course_id integer NOT NULL,
    course_code character varying(20) NOT NULL,
    course_name character varying(100) NOT NULL,
    credits integer,
    dept_id integer,
    CONSTRAINT chk_credits CHECK ((credits > 0))
);


ALTER TABLE public.courses OWNER TO postgres;

--
-- Name: course_prerequisite_map; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.course_prerequisite_map AS
 SELECT c.course_id,
    c.course_code,
    c.course_name,
    p.prereq_course_id,
    pc.course_code AS prereq_course_code,
    pc.course_name AS prereq_course_name
   FROM ((public.courseprerequisites p
     JOIN public.courses c ON ((c.course_id = p.course_id)))
     JOIN public.courses pc ON ((pc.course_id = p.prereq_course_id)));


ALTER VIEW public.course_prerequisite_map OWNER TO postgres;

--
-- Name: courses_course_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.courses_course_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.courses_course_id_seq OWNER TO postgres;

--
-- Name: courses_course_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.courses_course_id_seq OWNED BY public.courses.course_id;


--
-- Name: departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departments (
    dept_id integer NOT NULL,
    dept_name character varying(100) NOT NULL
);


ALTER TABLE public.departments OWNER TO postgres;

--
-- Name: sections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sections (
    section_id integer NOT NULL,
    course_id integer,
    faculty_id integer,
    room_id integer,
    semester character varying(20) NOT NULL,
    academic_year character varying(10) NOT NULL
);


ALTER TABLE public.sections OWNER TO postgres;

--
-- Name: studentattendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.studentattendance (
    attendance_id integer NOT NULL,
    session_id integer,
    student_id integer,
    status_id integer,
    remarks character varying(255)
);


ALTER TABLE public.studentattendance OWNER TO postgres;

--
-- Name: department_attendance_ranking; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.department_attendance_ranking AS
 SELECT d.dept_name,
    c.course_code,
    c.course_name,
    count(sa.attendance_id) AS total_attendance_records,
    sum(
        CASE
            WHEN ((st.status_name)::text = ANY ((ARRAY['Present'::character varying, 'Late'::character varying])::text[])) THEN 1
            ELSE 0
        END) AS total_present,
    COALESCE((((sum(
        CASE
            WHEN ((st.status_name)::text = ANY ((ARRAY['Present'::character varying, 'Late'::character varying])::text[])) THEN 1
            ELSE 0
        END))::numeric * 100.0) / (NULLIF(count(sa.attendance_id), 0))::numeric), (0)::numeric) AS dept_course_attendance_percentage,
    rank() OVER (PARTITION BY d.dept_id ORDER BY COALESCE((((sum(
        CASE
            WHEN ((st.status_name)::text = ANY ((ARRAY['Present'::character varying, 'Late'::character varying])::text[])) THEN 1
            ELSE 0
        END))::numeric * 100.0) / (NULLIF(count(sa.attendance_id), 0))::numeric), (0)::numeric) DESC) AS rank_in_dept
   FROM (((((public.departments d
     JOIN public.courses c ON ((d.dept_id = c.dept_id)))
     JOIN public.sections sec ON ((c.course_id = sec.course_id)))
     JOIN public.attendancesessions sess ON ((sec.section_id = sess.section_id)))
     JOIN public.studentattendance sa ON ((sess.session_id = sa.session_id)))
     JOIN public.attendancestatus st ON ((sa.status_id = st.status_id)))
  GROUP BY d.dept_id, d.dept_name, c.course_code, c.course_name;


ALTER VIEW public.department_attendance_ranking OWNER TO postgres;

--
-- Name: departments_dept_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.departments_dept_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departments_dept_id_seq OWNER TO postgres;

--
-- Name: departments_dept_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.departments_dept_id_seq OWNED BY public.departments.dept_id;


--
-- Name: enrollments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.enrollments (
    enrollment_id integer NOT NULL,
    student_id integer,
    section_id integer,
    enrolled_date date DEFAULT CURRENT_DATE
);


ALTER TABLE public.enrollments OWNER TO postgres;

--
-- Name: enrollments_enrollment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.enrollments_enrollment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.enrollments_enrollment_id_seq OWNER TO postgres;

--
-- Name: enrollments_enrollment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.enrollments_enrollment_id_seq OWNED BY public.enrollments.enrollment_id;


--
-- Name: faculty; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.faculty (
    faculty_id integer NOT NULL,
    first_name character varying(50) NOT NULL,
    last_name character varying(50) NOT NULL,
    hire_date date DEFAULT CURRENT_DATE NOT NULL,
    dept_id integer
);


ALTER TABLE public.faculty OWNER TO postgres;

--
-- Name: faculty_monthly_class_sessions_summary; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.faculty_monthly_class_sessions_summary AS
 SELECT created_by AS faculty_id,
    (date_trunc('month'::text, (session_date)::timestamp without time zone))::date AS month_start,
    count(*) AS total_sessions_created,
    count(DISTINCT section_id) AS distinct_sections
   FROM public.attendancesessions sess
  GROUP BY created_by, ((date_trunc('month'::text, (session_date)::timestamp without time zone))::date)
 HAVING (count(*) > 0);


ALTER VIEW public.faculty_monthly_class_sessions_summary OWNER TO postgres;

--
-- Name: timetable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.timetable (
    timetable_id integer NOT NULL,
    section_id integer,
    day_of_week character varying(15),
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    room_id integer,
    valid_from date,
    valid_to date,
    is_recurring boolean DEFAULT true,
    CONSTRAINT chk_tt_day CHECK (((day_of_week)::text = ANY ((ARRAY['Monday'::character varying, 'Tuesday'::character varying, 'Wednesday'::character varying, 'Thursday'::character varying, 'Friday'::character varying, 'Saturday'::character varying, 'Sunday'::character varying])::text[]))),
    CONSTRAINT chk_tt_time CHECK ((end_time > start_time))
);


ALTER TABLE public.timetable OWNER TO postgres;

--
-- Name: faculty_workload_report; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.faculty_workload_report AS
 WITH workloadcte AS (
         SELECT f.faculty_id,
            f.first_name,
            f.last_name,
            count(sec.section_id) AS total_sections,
            sum(c.credits) AS total_credits,
            COALESCE(sum((EXTRACT(epoch FROM (t.end_time - t.start_time)) / 3600.0)), (0)::numeric) AS weekly_teaching_hours,
            COALESCE(count(t.timetable_id), (0)::bigint) AS weekly_class_slots
           FROM (((public.faculty f
             JOIN public.sections sec ON ((f.faculty_id = sec.faculty_id)))
             JOIN public.courses c ON ((sec.course_id = c.course_id)))
             LEFT JOIN public.timetable t ON (((t.section_id = sec.section_id) AND (COALESCE(t.is_recurring, true) = true))))
          GROUP BY f.faculty_id, f.first_name, f.last_name
        )
 SELECT faculty_id,
    first_name,
    last_name,
    total_sections,
    total_credits,
    weekly_teaching_hours,
    weekly_class_slots,
    rank() OVER (ORDER BY total_credits DESC) AS workload_rank
   FROM workloadcte;


ALTER VIEW public.faculty_workload_report OWNER TO postgres;

--
-- Name: faculty_workload_semester_summary; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.faculty_workload_semester_summary AS
 SELECT f.faculty_id,
    f.first_name,
    f.last_name,
    sec.semester,
    sec.academic_year,
    count(DISTINCT sec.section_id) AS total_sections,
    count(DISTINCT sec.course_id) AS total_courses,
    COALESCE(sum(DISTINCT c.credits), (0)::bigint) AS distinct_course_credits,
    COALESCE(sum((EXTRACT(epoch FROM (t.end_time - t.start_time)) / 3600.0)), (0)::numeric) AS weekly_teaching_hours,
    count(t.timetable_id) AS weekly_class_slots
   FROM (((public.faculty f
     JOIN public.sections sec ON ((f.faculty_id = sec.faculty_id)))
     JOIN public.courses c ON ((sec.course_id = c.course_id)))
     LEFT JOIN public.timetable t ON (((t.section_id = sec.section_id) AND (COALESCE(t.is_recurring, true) = true))))
  GROUP BY f.faculty_id, f.first_name, f.last_name, sec.semester, sec.academic_year;


ALTER VIEW public.faculty_workload_semester_summary OWNER TO postgres;

--
-- Name: leaverequests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.leaverequests (
    leave_id integer NOT NULL,
    user_id integer,
    start_date date NOT NULL,
    end_date date NOT NULL,
    reason text NOT NULL,
    status character varying(20) DEFAULT 'Pending'::character varying,
    reviewed_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_leave_status CHECK (((status)::text = ANY ((ARRAY['Pending'::character varying, 'Approved'::character varying, 'Rejected'::character varying])::text[])))
);


ALTER TABLE public.leaverequests OWNER TO postgres;

--
-- Name: leaverequests_leave_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.leaverequests_leave_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.leaverequests_leave_id_seq OWNER TO postgres;

--
-- Name: leaverequests_leave_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.leaverequests_leave_id_seq OWNED BY public.leaverequests.leave_id;


--
-- Name: students; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.students (
    student_id integer NOT NULL,
    first_name character varying(50) NOT NULL,
    last_name character varying(50) NOT NULL,
    enrollment_date date DEFAULT CURRENT_DATE NOT NULL,
    dept_id integer
);


ALTER TABLE public.students OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_role CHECK (((role)::text = ANY ((ARRAY['Admin'::character varying, 'Faculty'::character varying, 'Student'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: student_attendance_report; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.student_attendance_report AS
 SELECT s.student_id,
    u.username,
    s.first_name,
    s.last_name,
    c.course_code,
    c.course_name,
    COALESCE((((sum(
        CASE
            WHEN ((st.status_name)::text = ANY ((ARRAY['Present'::character varying, 'Late'::character varying])::text[])) THEN 1
            ELSE 0
        END))::numeric * 100.0) / (NULLIF(count(sa.attendance_id), 0))::numeric), (0)::numeric) AS attendance_percentage
   FROM (((((((public.students s
     JOIN public.users u ON ((s.student_id = u.user_id)))
     JOIN public.enrollments e ON ((s.student_id = e.student_id)))
     JOIN public.sections sec ON ((e.section_id = sec.section_id)))
     JOIN public.courses c ON ((sec.course_id = c.course_id)))
     LEFT JOIN public.attendancesessions sess ON ((sess.section_id = sec.section_id)))
     LEFT JOIN public.studentattendance sa ON (((sess.session_id = sa.session_id) AND (sa.student_id = s.student_id))))
     LEFT JOIN public.attendancestatus st ON ((sa.status_id = st.status_id)))
  GROUP BY s.student_id, u.username, s.first_name, s.last_name, c.course_code, c.course_name;


ALTER VIEW public.student_attendance_report OWNER TO postgres;

--
-- Name: low_attendance_students; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.low_attendance_students AS
 SELECT student_id,
    username,
    first_name,
    last_name,
    course_code,
    course_name,
    attendance_percentage
   FROM public.student_attendance_report
  WHERE (attendance_percentage < (75)::numeric);


ALTER VIEW public.low_attendance_students OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    notification_id integer NOT NULL,
    user_id integer,
    message text NOT NULL,
    is_read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_notification_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_notification_id_seq OWNER TO postgres;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_notification_id_seq OWNED BY public.notifications.notification_id;


--
-- Name: rooms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rooms (
    room_id integer NOT NULL,
    room_name character varying(50) NOT NULL,
    capacity integer,
    CONSTRAINT chk_capacity CHECK ((capacity > 0))
);


ALTER TABLE public.rooms OWNER TO postgres;

--
-- Name: rooms_room_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rooms_room_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rooms_room_id_seq OWNER TO postgres;

--
-- Name: rooms_room_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rooms_room_id_seq OWNED BY public.rooms.room_id;


--
-- Name: sections_section_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sections_section_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sections_section_id_seq OWNER TO postgres;

--
-- Name: sections_section_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sections_section_id_seq OWNED BY public.sections.section_id;


--
-- Name: student_attendance_trends; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.student_attendance_trends AS
 SELECT sa.student_id,
    sess.section_id,
    sess.session_date,
    st.status_name,
    lag(st.status_name) OVER (PARTITION BY sa.student_id, sess.section_id ORDER BY sess.session_date) AS previous_status
   FROM ((public.studentattendance sa
     JOIN public.attendancesessions sess ON ((sa.session_id = sess.session_id)))
     JOIN public.attendancestatus st ON ((sa.status_id = st.status_id)));


ALTER VIEW public.student_attendance_trends OWNER TO postgres;

--
-- Name: studentattendance_attendance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.studentattendance_attendance_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.studentattendance_attendance_id_seq OWNER TO postgres;

--
-- Name: studentattendance_attendance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.studentattendance_attendance_id_seq OWNED BY public.studentattendance.attendance_id;


--
-- Name: studentprofileimages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.studentprofileimages (
    image_id integer NOT NULL,
    student_id integer NOT NULL,
    image_name character varying(255) NOT NULL,
    image_path text NOT NULL,
    upload_timestamp timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.studentprofileimages OWNER TO postgres;

--
-- Name: studentprofileimages_image_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.studentprofileimages_image_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.studentprofileimages_image_id_seq OWNER TO postgres;

--
-- Name: studentprofileimages_image_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.studentprofileimages_image_id_seq OWNED BY public.studentprofileimages.image_id;


--
-- Name: timetable_timetable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.timetable_timetable_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.timetable_timetable_id_seq OWNER TO postgres;

--
-- Name: timetable_timetable_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.timetable_timetable_id_seq OWNED BY public.timetable.timetable_id;


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: attendancesessions session_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendancesessions ALTER COLUMN session_id SET DEFAULT nextval('public.attendancesessions_session_id_seq'::regclass);


--
-- Name: attendancestatus status_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendancestatus ALTER COLUMN status_id SET DEFAULT nextval('public.attendancestatus_status_id_seq'::regclass);


--
-- Name: auditlogs log_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditlogs ALTER COLUMN log_id SET DEFAULT nextval('public.auditlogs_log_id_seq'::regclass);


--
-- Name: courses course_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses ALTER COLUMN course_id SET DEFAULT nextval('public.courses_course_id_seq'::regclass);


--
-- Name: departments dept_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments ALTER COLUMN dept_id SET DEFAULT nextval('public.departments_dept_id_seq'::regclass);


--
-- Name: enrollments enrollment_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollments ALTER COLUMN enrollment_id SET DEFAULT nextval('public.enrollments_enrollment_id_seq'::regclass);


--
-- Name: leaverequests leave_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leaverequests ALTER COLUMN leave_id SET DEFAULT nextval('public.leaverequests_leave_id_seq'::regclass);


--
-- Name: notifications notification_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN notification_id SET DEFAULT nextval('public.notifications_notification_id_seq'::regclass);


--
-- Name: rooms room_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms ALTER COLUMN room_id SET DEFAULT nextval('public.rooms_room_id_seq'::regclass);


--
-- Name: sections section_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections ALTER COLUMN section_id SET DEFAULT nextval('public.sections_section_id_seq'::regclass);


--
-- Name: studentattendance attendance_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.studentattendance ALTER COLUMN attendance_id SET DEFAULT nextval('public.studentattendance_attendance_id_seq'::regclass);


--
-- Name: studentprofileimages image_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.studentprofileimages ALTER COLUMN image_id SET DEFAULT nextval('public.studentprofileimages_image_id_seq'::regclass);


--
-- Name: timetable timetable_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.timetable ALTER COLUMN timetable_id SET DEFAULT nextval('public.timetable_timetable_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Name: attendancesessions attendancesessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendancesessions
    ADD CONSTRAINT attendancesessions_pkey PRIMARY KEY (session_id);


--
-- Name: attendancestatus attendancestatus_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendancestatus
    ADD CONSTRAINT attendancestatus_pkey PRIMARY KEY (status_id);


--
-- Name: attendancestatus attendancestatus_status_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendancestatus
    ADD CONSTRAINT attendancestatus_status_name_key UNIQUE (status_name);


--
-- Name: auditlogs auditlogs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditlogs
    ADD CONSTRAINT auditlogs_pkey PRIMARY KEY (log_id);


--
-- Name: courseprerequisites courseprerequisites_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courseprerequisites
    ADD CONSTRAINT courseprerequisites_pkey PRIMARY KEY (course_id, prereq_course_id);


--
-- Name: courses courses_course_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_course_code_key UNIQUE (course_code);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (course_id);


--
-- Name: departments departments_dept_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_dept_name_key UNIQUE (dept_name);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (dept_id);


--
-- Name: enrollments enrollments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_pkey PRIMARY KEY (enrollment_id);


--
-- Name: faculty faculty_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faculty
    ADD CONSTRAINT faculty_pkey PRIMARY KEY (faculty_id);


--
-- Name: leaverequests leaverequests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leaverequests
    ADD CONSTRAINT leaverequests_pkey PRIMARY KEY (leave_id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (notification_id);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (room_id);


--
-- Name: rooms rooms_room_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_room_name_key UNIQUE (room_name);


--
-- Name: sections sections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT sections_pkey PRIMARY KEY (section_id);


--
-- Name: studentattendance studentattendance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.studentattendance
    ADD CONSTRAINT studentattendance_pkey PRIMARY KEY (attendance_id);


--
-- Name: studentprofileimages studentprofileimages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.studentprofileimages
    ADD CONSTRAINT studentprofileimages_pkey PRIMARY KEY (image_id);


--
-- Name: studentprofileimages studentprofileimages_student_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.studentprofileimages
    ADD CONSTRAINT studentprofileimages_student_id_key UNIQUE (student_id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (student_id);


--
-- Name: timetable timetable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.timetable
    ADD CONSTRAINT timetable_pkey PRIMARY KEY (timetable_id);


--
-- Name: enrollments uq_enrollment; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT uq_enrollment UNIQUE (student_id, section_id);


--
-- Name: studentattendance uq_sa_record; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.studentattendance
    ADD CONSTRAINT uq_sa_record UNIQUE (session_id, student_id);


--
-- Name: sections uq_section_details; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT uq_section_details UNIQUE (course_id, faculty_id, semester, academic_year);


--
-- Name: attendancesessions uq_session; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendancesessions
    ADD CONSTRAINT uq_session UNIQUE (section_id, session_date, start_time);


--
-- Name: timetable uq_tt_slot; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.timetable
    ADD CONSTRAINT uq_tt_slot UNIQUE (section_id, day_of_week, start_time);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_attendance_session; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_attendance_session ON public.studentattendance USING btree (session_id);


--
-- Name: idx_attendance_session_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_attendance_session_date ON public.attendancesessions USING btree (section_id, session_date);


--
-- Name: idx_attendance_student; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_attendance_student ON public.studentattendance USING btree (student_id);


--
-- Name: idx_enrollment_section; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_enrollment_section ON public.enrollments USING btree (section_id);


--
-- Name: idx_enrollment_student; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_enrollment_student ON public.enrollments USING btree (student_id);


--
-- Name: idx_faculty_dept; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_faculty_dept ON public.faculty USING btree (dept_id);


--
-- Name: idx_prereq_by_prereq_course; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_prereq_by_prereq_course ON public.courseprerequisites USING btree (prereq_course_id);


--
-- Name: idx_sa_composite; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sa_composite ON public.studentattendance USING btree (session_id, student_id);


--
-- Name: idx_sections_course; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sections_course ON public.sections USING btree (course_id);


--
-- Name: idx_sections_faculty_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sections_faculty_time ON public.sections USING btree (faculty_id, semester, academic_year);


--
-- Name: idx_student_dept; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_student_dept ON public.students USING btree (dept_id);


--
-- Name: idx_timetable_room_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_timetable_room_time ON public.timetable USING btree (room_id, day_of_week, start_time, end_time);


--
-- Name: idx_timetable_section_day; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_timetable_section_day ON public.timetable USING btree (section_id, day_of_week);


--
-- Name: studentattendance audit_attendance_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER audit_attendance_trigger AFTER INSERT OR DELETE OR UPDATE ON public.studentattendance FOR EACH ROW EXECUTE FUNCTION public.log_universal_changes();


--
-- Name: enrollments audit_enrollments_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER audit_enrollments_trigger AFTER INSERT OR DELETE OR UPDATE ON public.enrollments FOR EACH ROW EXECUTE FUNCTION public.log_universal_changes();


--
-- Name: timetable audit_timetable_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER audit_timetable_trigger AFTER INSERT OR DELETE OR UPDATE ON public.timetable FOR EACH ROW EXECUTE FUNCTION public.log_universal_changes();


--
-- Name: users audit_users_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER audit_users_trigger AFTER INSERT OR DELETE OR UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.log_user_changes();


--
-- Name: timetable check_clash_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER check_clash_trigger BEFORE INSERT OR UPDATE ON public.timetable FOR EACH ROW EXECUTE FUNCTION public.check_timetable_clash();


--
-- Name: auditlogs fk_audit_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditlogs
    ADD CONSTRAINT fk_audit_user FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: courses fk_courses_dept; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT fk_courses_dept FOREIGN KEY (dept_id) REFERENCES public.departments(dept_id) ON DELETE CASCADE;


--
-- Name: enrollments fk_enroll_section; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT fk_enroll_section FOREIGN KEY (section_id) REFERENCES public.sections(section_id) ON DELETE CASCADE;


--
-- Name: enrollments fk_enroll_student; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT fk_enroll_student FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: faculty fk_faculty_dept; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faculty
    ADD CONSTRAINT fk_faculty_dept FOREIGN KEY (dept_id) REFERENCES public.departments(dept_id) ON DELETE SET NULL;


--
-- Name: faculty fk_faculty_users; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.faculty
    ADD CONSTRAINT fk_faculty_users FOREIGN KEY (faculty_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: leaverequests fk_leave_reviewer; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leaverequests
    ADD CONSTRAINT fk_leave_reviewer FOREIGN KEY (reviewed_by) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: leaverequests fk_leave_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leaverequests
    ADD CONSTRAINT fk_leave_user FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: notifications fk_notif_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fk_notif_user FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: courseprerequisites fk_prereq_course; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courseprerequisites
    ADD CONSTRAINT fk_prereq_course FOREIGN KEY (course_id) REFERENCES public.courses(course_id) ON DELETE CASCADE;


--
-- Name: courseprerequisites fk_prereq_prereq_course; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courseprerequisites
    ADD CONSTRAINT fk_prereq_prereq_course FOREIGN KEY (prereq_course_id) REFERENCES public.courses(course_id) ON DELETE RESTRICT;


--
-- Name: studentattendance fk_sa_session; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.studentattendance
    ADD CONSTRAINT fk_sa_session FOREIGN KEY (session_id) REFERENCES public.attendancesessions(session_id) ON DELETE CASCADE;


--
-- Name: studentattendance fk_sa_status; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.studentattendance
    ADD CONSTRAINT fk_sa_status FOREIGN KEY (status_id) REFERENCES public.attendancestatus(status_id);


--
-- Name: studentattendance fk_sa_student; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.studentattendance
    ADD CONSTRAINT fk_sa_student FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: sections fk_sections_course; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT fk_sections_course FOREIGN KEY (course_id) REFERENCES public.courses(course_id) ON DELETE CASCADE;


--
-- Name: sections fk_sections_faculty; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT fk_sections_faculty FOREIGN KEY (faculty_id) REFERENCES public.faculty(faculty_id) ON DELETE SET NULL;


--
-- Name: sections fk_sections_room; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT fk_sections_room FOREIGN KEY (room_id) REFERENCES public.rooms(room_id) ON DELETE SET NULL;


--
-- Name: attendancesessions fk_sess_creator; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendancesessions
    ADD CONSTRAINT fk_sess_creator FOREIGN KEY (created_by) REFERENCES public.faculty(faculty_id) ON DELETE SET NULL;


--
-- Name: attendancesessions fk_sess_section; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendancesessions
    ADD CONSTRAINT fk_sess_section FOREIGN KEY (section_id) REFERENCES public.sections(section_id) ON DELETE CASCADE;


--
-- Name: studentprofileimages fk_student_images_student; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.studentprofileimages
    ADD CONSTRAINT fk_student_images_student FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: students fk_students_dept; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT fk_students_dept FOREIGN KEY (dept_id) REFERENCES public.departments(dept_id) ON DELETE SET NULL;


--
-- Name: students fk_students_users; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT fk_students_users FOREIGN KEY (student_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: timetable fk_tt_room; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.timetable
    ADD CONSTRAINT fk_tt_room FOREIGN KEY (room_id) REFERENCES public.rooms(room_id) ON DELETE SET NULL;


--
-- Name: timetable fk_tt_section; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.timetable
    ADD CONSTRAINT fk_tt_section FOREIGN KEY (section_id) REFERENCES public.sections(section_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 4KbzYQSMsnvbuJ221Ds8B6lUp85QF2pgmfUo6Vlz5G5LgfvhscSfIsgDUL2iE65

